@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    555.555.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ijimenemar@github.com">ijimenemar@github.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ccs-mx.com">Marketing@ccs-mx.com</a>
</address>
